h1 {
    text-align: center;
}

.container {
    display: grid;
    place-items: center;
    gap: 20px;
    max-width: 500;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.answer-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.answer-row input {
    padding: 8px;
    font-size: 16px;
    flex: 1;
}

.answer-row button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

#feedback {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 15px;
}

#leaderboard {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    text-align: center;
}

#leaderboard th,
#leaderboard td {
    border: 1px solid #f9f9f9;
    padding: 8px;
}

#leaderboard th {
    background-color: #f9f9f9;
    font-weight: bold;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}